.stage-wrapper {
  position: relative;
}

.stage {
  width: calc(480px + 2px);
  height: calc(480px + 2px);
  border: 1px solid var(--ui-black-transparent);
  border-radius: var(--space);
  position: relative;
  overflow: hidden;
  background: var(--ui-white);
}

.small {
  width: calc(480px * 0.8 + 2px);
  height: calc(480px * 0.8 + 2px);
}
