.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stage-wrapper {
  display: flex;
}

.selector-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: var(--space);
}
